@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D91EFF, #8E1BE8, #682BFF);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #12109794; /*lado, baixo, espalha e cor*/
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color:#1F1BE8;
    text-align: center;
    text-shadow: 1px 1px 0px #00000038;
}

h2 {
    color:#1E55FF;
}

p {
    text-align: justify;
}